<body class= "session_new_body" >
<br><br><br><br><h2>ログインしてください</h2>
  <div class="session_new_div">
  <%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
  <%= f.label :email, "Eメールアドレス" %>
  <%= f.email_field :email %>
  <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  <%= f.label :password, "パスワード" %>
  <%= f.password_field :password %>
  </div>
  <div>
  <br><%= f.submit "ログイン" %>
  <% end %>
  </div>
</body>
